<div class="max-w-4xl mx-auto mt-10">
  <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg">
    <img src="<%= asset_path('dash.png') %>" alt="Image de Dashboard" class="w-full h-64 object-cover object-center">

    <div class="px-6 py-4">
      <div class="font-bold text-center text-white text-xl mb-6">Dashboard Admin</div>

      <div class="flex flex-col lg:flex-row lg:justify-between space-y-4 lg:space-y-0 lg:space-x-4">
        <div class="flex-grow mb-4">
          <a href="/dashboard/products" class="bg-teal-600 hover:bg-teal-300 text-black font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline">Produits</a>
        </div>
        <div class="flex-grow mb-4">
          <a href="/dashboard/store" class="bg-cyan-400 hover:bg-cyan-300 text-black font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline">Ajout Produits</a>
        </div>
        <div class="flex-grow mb-4">
          <a href="/dashboard/users" class="bg-purple-400 hover:bg-purple-300 text-black font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline">Utilisateurs</a>
        </div>
        <div class="flex-grow mb-4">
          <a href="/dashboard/orders" class="bg-gray-500 hover:bg-gray-300 text-black font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline">Commandes</a>
        </div>
        <div class="flex-grow mb-4">
          <a href="/dashboard/quotes" class="bg-rose-500 hover:bg-rose-300 text-black font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline">Devis</a>
        </div>
      </div>
    </div>
  </div>
</div>
