<section class="container mx-auto mt-10">
  <h1 class="text-4xl font-bold p-4 border-4 border-gray-500 rounded mb-10 text-center">Liste des utilisateurs :</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
    <% @users.each do |user| %>
      <div class="bg-gray-800 shadow-md rounded-lg overflow-hidden">
        <div class="px-4 py-2">
          <p class="text-white"><%= user.email %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-center mt-4">
    <a href="/dashboard" class="bg-purple-400 hover:bg-purple-300 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Retour au Dashboard</a>
  </div>
</section>
