<section class="container-footer">
  <h1>Mentions Légales</h1>
  <article>
    <h2>Propriété intellectuelle</h2>
    <p>L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris les documents téléchargeables et les représentations iconographiques et photographiques.</p>   
    <h2>Responsabilité</h2>
    <p>L'éditeur du site met à disposition un contenu informatif. Malgré tout le soin apporté aux informations diffusées, l'éditeur du site décline toute responsabilité en cas d'erreur ou d'omission.</p>
  </article>
</section>