    <div class="container-footer">
        <h1>Mentions Légales</h1>

        <div>
            <p>Raison sociale : [Nom de votre entreprise]</p>
            <p>Forme juridique : [Forme juridique de votre entreprise]</p>
            <p>Adresse : [Adresse de votre entreprise]</p>
            <p>Téléphone : [Numéro de téléphone de votre entreprise]</p>
            <p>Directeur de la publication : [Nom du directeur de la publication]</p>
            <p>Numéro SIRET : [Numéro SIRET de votre entreprise]</p>
            <p>Capital social : [Montant du capital social de votre entreprise]</p>
            <p>Adresse e-mail : [Adresse e-mail de contact]</p>
            <p>Hébergeur : [Nom de l'hébergeur du site web]</p>

            <h2>Propriété intellectuelle</h2>
            <p>L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris les documents téléchargeables et les représentations iconographiques et photographiques.</p>
            
            <h2>Responsabilité</h2>
            <p>L'éditeur du site met à disposition un contenu informatif. Malgré tout le soin apporté aux informations diffusées, l'éditeur du site décline toute responsabilité en cas d'erreur ou d'omission.</p>



        </div>
    </div>