<section class="container-footer">
  <h1>Politique de Remboursement</h1>
  <article>
    <p>Notre politique de remboursement s'applique aux produits et services achetés directement auprès de Rustoff.</p>
    <h2>Demande de remboursement</h2>
    <p>Pour être éligible à un remboursement, vous devez soumettre une demande écrite dans un délai de 2 jours à compter de la date d'achat. Votre demande doit inclure les détails suivants :</p>
    <ul>
      <li>- Nom complet</li>
      <li>- Adresse e-mail associée à l'achat</li>
      <li>- Date d'achat</li>
      <li>- Numéro de commande</li>
      <li>- Raison de la demande de remboursement</li>
    </ul>
    <p>Nous examinerons votre demande et vous informerons de la décision. Si votre demande est approuvée, le remboursement sera effectué selon le mode de paiement original dans un délai de [nombre de jours] jours.</p>
    <h2>Exceptions</h2>
    <p>Les produits ou services suivants ne sont pas éligibles au remboursement :</p>
    <ul>
      <li>- Produits numériques téléchargeables après achat.</li>
      <li>- Services consommés ou utilisés après l'achat.</li>
      <li>- Produits ou services achetés auprès de revendeurs tiers.</li>
    </ul>
  </article>
</section>