<div class="container text-center my-5">
  <h1>Succès</h1>

  <p>Nous avons bien reçu votre paiement.</p>


  <%= link_to "Accéder à mes commandes", orders_path, class: "bg-blue-500 hover:bg-blue-400 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-sm" %>

</div>









