<section class="flex items-center justify-center h-screen">
  <article class="max-w-md mx-auto bg-gray-800 rounded-xl shadow-md overflow-hidden mt-10 my-10">
    <div class="text-center px-6 py-4 bg-purple-400">
      <h1 class="text-2xl font-semibold text-black">Succès</h1>
    </div>

    <div class="md:flex">
      <div class="md:flex-shrink-0"></div>
      <div class="p-8 flex flex-col items-center">
        <p class="text-lg font-bold text-white my-4">Nous avons bien reçu votre paiement.</p>
        <%= link_to "Accéder à mes commandes", orders_path, class: "block bg-purple-400 hover:bg-purple-300 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-sm" %>
      </div>
    </div>
  </article>
</section>
