<section>
  <article>
    <%= link_to "casque GPExplorer", casque_path, class: "text-white bg-gray-600 hover:bg-gray-600 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 bg-gray-800 hover:bg-gray-700 focus:ring-gray-600 border-gray-600 ml-4 px-8 group-hover:stroke-white" %>
    <div class="flex flex-row">
      <img src="../assets/images/collab/casque.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="">
    </div>
  </article>
</section>