<section>
  <article>
    <button class="text-white bg-gray-600 hover:bg-gray-600 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 bg-gray-800 hover:bg-gray-700 focus:ring-gray-600 border-gray-600 my-5 ml-4 px-8 group-hover:stroke-white" href="<%= pokemon_path %>">Pokémon</button>
    <div class="flex flex-row">
      <img src="../assets/images/pokemon/img_7.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="Un Gyarados néon qui entoure un magicarpe lui aussi néon" >
      <img src="../assets/images/pokemon/poke_unite.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="4 pokémons sur un lit entrain de dormir">
      <img src="../assets/images/pokemon/img_2.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="un dracofeu qui sort en fureur d'une pokéball">
      <img src="../assets/images/pokemon/img_1.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="3 carapuces qui jouent dans l'eau dans une pokéball ">
    </div>
  </article>
  <article>
    <div class="flex flex-row">
      <img src="../assets/images/pokemon/img_3.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="Un Gyarados néon qui entoure un magicarpe lui aussi néon" >
      <img src="../assets/images/pokemon/img_9.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="4 pokémons sur un lit entrain de dormir">
      <img src="../assets/images/pokemon/img_10.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="un dracofeu qui sort en fureur d'une pokéball">
      <img src="../assets/images/pokemon/Mew_two_neon.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="3 carapuces qui jouent dans l'eau dans une pokéball ">
    </div>
  </article>
  <article>
    <div class="flex flex-row">
      <img src="../assets/images/pokemon/miaouss.png" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="Un Gyarados néon qui entoure un magicarpe lui aussi néon" >
    </div>
  </article>
</section>