<section>
  <article>
    <button class="text-white bg-gray-600 hover:bg-gray-600 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 bg-gray-800 hover:bg-gray-700 focus:ring-gray-600 border-gray-600 my-5 ml-4 px-8">Pokémon</button>
    <div class="flex flex-row">
      <img src="../assets/images/pokemon/img_7.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="Un Gyarados néon qui entoure un magicarpe lui aussi néon" >
      <img src="../assets/images/pokemon/poke_unite.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="4 pokémons sur un lit entrain de dormir">
      <img src="../assets/images/pokemon/img_2.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="un dracofeu qui sort en fureur d'une pokéball">
      <img src="../assets/images/pokemon/img_1.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="3 carapuces qui jouent dans l'eau dans une pokéball ">
    </div>
  </article>
  <article>
    <button class="text-white bg-gray-600 hover:bg-gray-600 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 bg-gray-800 hover:bg-gray-700 focus:ring-gray-600 border-gray-600 my-5 ml-4">Emote Twitch</button>
    <div class="flex flex-row">
      <img src="../assets/images/overlay/img_5.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="un kit de 45 emotes différentes">
      <img src="../assets/images/overlay/img_6.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="7 emotes de chien">
      <img src="../assets/images/overlay/img_8.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="5 emotes de tetes de diables">
      <img src="../assets/images/overlay/img_11.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="6 emotes de burgers evoluant">
    </div>
  </article>
  <article>
    <button class="text-white bg-gray-600 hover:bg-gray-600 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 bg-gray-800 hover:bg-gray-700 focus:ring-gray-600 border-gray-600 my-5 ml-4 ps-12 pe-12">Logo</button>
    <div class="flex flex-row">
      <img src="../assets/images/logo/hellistra1.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="">
      <img src="../assets/images/logo/malife2.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="">
      <img src="../assets/images/logo/malife3.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="">
      <img src="../assets/images/logo/raven.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="">
    </div>
  </article>
  <article>
    <button class="text-white bg-gray-600 hover:bg-gray-600 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 bg-gray-800 hover:bg-gray-700 focus:ring-gray-600 border-gray-600 my-5 ml-4 ps-14 pe-14">3D</button>
    <div class="flex flex-row">
      <img src="../assets/images/3D/IMG_01111.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="">
      <img src="../assets/images/3D/IMG_0098.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="">
      <img src="../assets/images/3D/IMG_0115.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="">
      <img src="../assets/images/3D/IMG_0134.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="">
    </div>
  </article>
  <article>
    <button class="text-white bg-gray-600 hover:bg-gray-600 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 bg-gray-800 hover:bg-gray-700 focus:ring-gray-600 border-gray-600 my-5 ml-4 ps-14 pe-14">tatoo</button>
    <div class="flex flex-row">
      <img src="../assets/images/tattoo/fond_tatoo_pivoine.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="">
      <img src="../assets/images/tattoo/tatoo_cerise.png" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="">
      <img src="../assets/images/tattoo/tatoo_dragon.png" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="">
      <img src="../assets/images/tattoo/tatoo.png" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="">
    </div>
  </article>
  <article>
    <button class="text-white bg-gray-600 hover:bg-gray-600 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 bg-gray-800 hover:bg-gray-700 focus:ring-gray-600 border-gray-600 my-5 ml-4 ps-14 pe-14">autre</button>
    <div class="flex flex-row">
      <img src="../assets/images/divers/canyon.png" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="">
      <img src="../assets/images/divers/forest.png" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="">
      <img src="../assets/images/divers/bird.png" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="">
      <img src="../assets/images/divers/plaine.png" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="">
    </div>
  </article>
  <article>
    <button class="text-white bg-gray-600 hover:bg-gray-600 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 bg-gray-800 hover:bg-gray-700 focus:ring-gray-600 border-gray-600 my-5 ml-4 ps-14 pe-14">casque GPExplorer</button>
    <div class="flex flex-row">
      <img src="../assets/images/collab/casque.jpg" class="rounded-lg object-scale-down h-50 w-96 m-10" alt="">
    </div>
  </article>
</section>
