<article id="<%= dom_id cart_item %>">
  <p>
    <strong>Cart:</strong>
    <%= cart_item.cart_id %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= cart_item.item_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= cart_item.quantity %>
  </p>
</article>
