<section class="max-w-4xl mx-auto mt-10 px-4 py-6 text-center">
  <h1 class="text-4xl font-bold p-4 border-4 border-gray-500 mb-8 rounded inline-block">Foire aux questions (FAQ)</h1>
  <!-- Question 1 -->
  <article class="mb-6">
    <button class="flex bg-gray-800 items-center justify-between w-full text-white hover:bg-gray-600 p-4 rounded-lg focus:outline-none question-toggle">
      <span class="text-lg font-medium">1. Comment puis-je passer une commande dans la boutique ?</span>
      <span class="text-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm0-1a7 7 0 100-14 7 7 0 000 14zm-1-7a1 1 0 112 0v4a1 1 0 11-2 0v-4zm0-3a1 1 0 012 0v1a1 1 0 11-2 0v-1z" clip-rule="evenodd" />
        </svg>
      </span>
    </button>
    <div class="hidden p-4 bg-white rounded-lg shadow-lg answer">
      <p class="text-gray-700">
        Pour passer une commande dans notre boutique, suivez ces étapes :
      </p>
      <ol class="list-decimal list-inside mt-2">
        <li>Parcourez notre boutique et trouvez le produit que vous souhaitez acheter.</li>
        <li>Cliquez sur le bouton "Ajouter au panier" sur la page du produit.</li>
        <li>Accédez à votre panier en cliquant sur l'icône du panier en haut à droite.</li>
        <li>Cliquez sur le bouton "Passer la commande" dans le panier.</li>
        <li>Remplissez les informations requises et choisissez une méthode de paiement.</li>
        <li>Confirmez votre commande et effectuez le paiement.</li>
      </ol>
      <p class="text-gray-700 mt-4">
        Une fois votre commande passée avec succès, vous recevrez une confirmation par e-mail.
      </p>
    </div>
  </article>

  <!-- Question 2 -->
  <article class="mb-6">
    <button class="flex bg-gray-800 items-center justify-between w-full text-white hover:bg-gray-600 p-4 rounded-lg focus:outline-none question-toggle">
      <span class="text-lg font-medium">2. Comment demander un devis pour un projet graphique ?</span>
      <span class="text-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm0-1a7 7 0 100-14 7 7 0 000 14zm-1-7a1 1 0 112 0v4a1 1 0 11-2 0v-4zm0-3a1 1 0 012 0v1a1 1 0 11-2 0v-1z" clip-rule="evenodd" />
        </svg>
      </span>
    </button>
    <div class="hidden p-4 bg-white rounded-lg shadow-lg answer">
      <p class="text-gray-700">
        Pour demander un devis pour un projet graphique, suivez ces étapes :
      </p>
      <ol class="list-decimal list-inside mt-2">
        <li>Visitez notre page de demande de devis, le bouton sur la page d'acceuil.</li>
        <li>Remplissez le formulaire de demande de devis en fournissant tous les détails pertinents sur votre projet.</li>
        <li>Cliquez sur le bouton "Envoyer la demande".</li>
        <li>Notre équipe examinera votre demande et vous contactera pour discuter des détails du projet et de la tarification.</li>
      </ol>
      <p class="text-gray-700 mt-4">
        Nous nous efforçons de répondre à toutes les demandes de devis dans les plus brefs délais.
      </p>
    </div>
  </article>

  <!-- Question 3 -->
  <article class="mb-6">
    <button class="flex bg-gray-800 items-center justify-between w-full text-white hover:bg-gray-600 p-4 rounded-lg focus:outline-none question-toggle">
      <span class="text-lg font-medium">3. Où puis-je consulter votre portfolio de projets précédents ?</span>
      <span class="text-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm0-1a7 7 0 100-14 7 7 0 000 14zm-1-7a1 1 0 112 0v4a1 1 0 11-2 0v-4zm0-3a1 1 0 012 0v1a1 1 0 11-2 0v-1z" clip-rule="evenodd" />
        </svg>
      </span>
    </button>
    <div class="hidden p-4 bg-white rounded-lg shadow-lg answer">
      <p class="text-gray-700">
        Vous pouvez consulter notre portfolio de projets précédents sur notre page de portfolio. Nous y présentons divers projets graphiques que nous avons réalisés pour nos clients.
      </p>
      <p class="text-gray-700 mt-4">
        Visitez notre page de portfolio pour voir notre travail et obtenir des idées pour votre propre projet.
      </p>
    </div>
  </article>

  <!-- Question 4 -->
  <article class="mb-6">
    <button class="flex bg-gray-800 items-center justify-between w-full text-white hover:bg-gray-600 p-4 rounded-lg focus:outline-none question-toggle">
      <span class="text-lg font-medium">4. Quels types de services graphiques proposez-vous ?</span>
      <span class="text-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm0-1a7 7 0 100-14 7 7 0 000 14zm-1-7a1 1 0 112 0v4a1 1 0 11-2 0v-4zm0-3a1 1 0 012 0v1a1 1 0 11-2 0v-1z" clip-rule="evenodd" />
        </svg>
      </span>
    </button>
    <div class="hidden p-4 bg-white rounded-lg shadow-lg answer">
      <p class="text-gray-700">
        Nous proposons une gamme complète de services graphiques, notamment :
      </p>
      <ul class="list-disc list-inside mt-2">
        <li>Conception de logos</li>
        <li>Illustrations</li>
        <li>Conception 3D</li>
        <li>Animations</li>
        <li>Twitch overlay et émotes</li>
        <li>Dessin pour tatouages</li>
        <li>Dessin pour du merchandising</li>
        <li>Avatars personnalisés</li>
        <li>Et bien plus encore !</li>
      </ul>
      <p class="text-gray-700 mt-4">
        Si vous avez un projet spécifique en tête, n'hésitez pas à nous contacter pour discuter de vos besoins.
      </p>
    </div>
  </article>

  <!-- Question 5 -->
  <article class="mb-6">
    <button class="flex bg-gray-800 items-center justify-between w-full text-white hover:bg-gray-600 p-4 rounded-lg focus:outline-none question-toggle">
      <span class="text-lg font-medium">5. Quelle est la durée moyenne d'un projet graphique ?</span>
      <span class="text-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm0-1a7 7 0 100-14 7 7 0 000 14zm-1-7a1 1 0 112 0v4a1 1 0 11-2 0v-4zm0-3a1 1 0 012 0v1a1 1 0 11-2 0v-1z" clip-rule="evenodd" />
        </svg>
      </span>
    </button>
    <div class="hidden p-4 bg-white rounded-lg shadow-lg answer">
      <p class="text-gray-700">
        La durée d'un projet graphique peut varier en fonction de sa complexité, de sa taille et des exigences spécifiques. En général, la durée moyenne d'un projet peut être estimée comme suit :
      </p>
      <ul class="list-disc list-inside mt-2">
        <li>Projets de logo/avatars/tattoo : 1-2 semaines</li>
        <li>Projets d'illustration/merch : 2-3 semaines</li>
        <li>Conception 3D/Animations : 3-4 semaines</li>
        <li>Conception Twitch ( selon la quantitée ) : 1-4 semaines</li>
      </ul>
      <p class="text-gray-700 mt-4">
        La durée exacte sera déterminée en fonction de la portée du projet et de la disponibilité.
      </p>
    </div>
  </article>

  <!-- Question 6 -->
  <article class="mb-6">
    <button class="flex bg-gray-800 items-center justify-between w-full text-white hover:bg-gray-600 p-4 rounded-lg focus:outline-none question-toggle">
      <span class="text-lg font-medium">6. Pouvez-vous personnaliser des designs existants ?</span>
      <span class="text-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm0-1a7 7 0 100-14 7 7 0 000 14zm-1-7a1 1 0 112 0v4a1 1 0 11-2 0v-4zm0-3a1 1 0 012 0v1a1 1 0 11-2 0v-1z" clip-rule="evenodd" />
        </svg>
      </span>
    </button>
    <div class="hidden p-4 bg-white rounded-lg shadow-lg answer">
      <p class="text-gray-700">
        Oui, nous pouvons personnaliser des designs existants selon vos besoins. Si vous avez un design préexistant que vous souhaitez modifier ou améliorer, veuillez nous fournir les fichiers sources ou les détails du design que vous souhaitez personnaliser.
      </p>
      <p class="text-gray-700 mt-4">
        Nous travaillerons en étroite collaboration avec vous pour comprendre vos exigences de personnalisation et créer un design qui correspond à vos attentes.
      </p>
      <p class="text-gray-700 mt-4">
        Des prix fixent sont dispo dans la boutique pour tout ce qui n'es pas sur mesure.
      </p>
    </div>
  </article>

  <!-- Question 7 -->
  <article class="mb-6">
    <button class="flex bg-gray-800 items-center justify-between w-full text-white hover:bg-gray-600 p-4 rounded-lg focus:outline-none question-toggle">
      <span class="text-lg font-medium">7. Quels sont vos tarifs pour les services graphiques ?</span>
      <span class="text-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm0-1a7 7 0 100-14 7 7 0 000 14zm-1-7a1 1 0 112 0v4a1 1 0 11-2 0v-4zm0-3a1 1 0 012 0v1a1 1 0 11-2 0v-1z" clip-rule="evenodd" />
        </svg>
      </span>
    </button>
    <div class="hidden p-4 bg-white rounded-lg shadow-lg answer">
      <p class="text-gray-700">
        Nos tarifs pour les services graphiques dépendent du type de projet, de sa complexité, de la taille, des délais et d'autres facteurs. Chaque projet est unique, et nous établissons des devis personnalisés pour nos clients.
      </p>
      <p class="text-gray-700 mt-4">
        Pour obtenir un devis précis pour votre projet, nous vous encourageons à remplir notre formulaire de demande de devis sur notre site Web. Nous examinerons vos besoins et vous fournirons un devis détaillé en conséquence.
      </p>
    </div>
  </article>

  <!-- Question 8 -->
  <article class="mb-6">
    <button class="flex bg-gray-800 items-center justify-between w-full text-white hover:bg-gray-600 p-4 rounded-lg focus:outline-none question-toggle">
      <span class="text-lg font-medium">8. Comment puis-je vous contacter pour discuter de mon projet ?</span>
      <span class="text-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm0-1a7 7 0 100-14 7 7 0 000 14zm-1-7a1 1 0 112 0v4a1 1 0 11-2 0v-4zm0-3a1 1 0 012 0v1a1 1 0 11-2 0v-1z" clip-rule="evenodd" />
        </svg>
      </span>
    </button>
    <div class="hidden p-4 bg-white rounded-lg shadow-lg answer">
      <p class="text-gray-700">
        Pour discuter de votre projet avec nous, vous pouvez nous contacter de l'une des manières suivantes :
      </p>
      <ul class="list-disc list-inside mt-2">
        <li>Remplissez notre formulaire de contact sur notre site Web.</li>
        <li>Envoyez-nous un e-mail à [rustgraph@gmail.com].</li>
      </ul>
      <p class="text-gray-700 mt-4">
        Nous sommes impatients de discuter de votre projet et de vous fournir des solutions graphiques sur mesure.
      </p>
    </div>
  </article>
</section>