body {
  background-color: #cfd7ff;
}

.container-footer {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
}

.container-footer h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.container-footer p {
  font-size: 16px;
  line-height: 1.5;
}

/*--------------------
Panier avec nombre produits
--------------------*/
.badge {
  color: white; 
  padding: 4px 8px; 
  font-size: 12px; 
}



/*--------------------
FOOTER CSS
--------------------*/

.info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  padding-top: 70px;
  z-index: 1;
}

.shipping-container {
  display: flex;
  align-items: center;
}

.inventory-container {
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.info-wrapper .fa {
  color: #fff;
  margin-right: 10px;
  transform: Scale(0.9);
}

.info-desc {
  font-weight: 700;
  font-size: 15px;
}

.main-wrapper {
  display: flex;
  min-height: 450px;
  padding: 20px;
  padding-top: 10px;
}


/*--------------------
Menu Boutique
--------------------*/

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 260px;
  height: 250px;
  margin-top: 10px;
  background: -webkit-linear-gradient(top, #3a404d, #181c26);
  background: linear-gradient(to bottom, #3a404d, #181c26);
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
}

.menu-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25%;
  box-sizing: border-box;
  padding-right: 30px;
  padding-left: 30px;
  background: linear-gradient( 0deg, #cd4b4b, #e0574f);
  cursor: pointer;
  transition: all 300ms;
}


.menu-item:nth-child(10) {
  border-radius: 0 0 10px 10px;
  background: #647694;
}
.menu-item:nth-child(9) {
  background: #5e7191;
}
.menu-item:nth-child(8) {
  background: #5a6e91;
}
.menu-item:nth-child(7) {
  background: #576c91;
}
.menu-item:nth-child(6) {
  background: #506994;
}
.menu-item:nth-child(5) {
  background: #536e9d;
}
.menu-item:nth-child(4) {
  background: #4c6899; 
}
.menu-item:nth-child(3) {
  background: #36568f; /* Bleu légèrement plus foncé */
}
.menu-item:nth-child(2) {
  background: #2f4b7d; /* Bleu foncé */
}
.menu-item:nth-child(1) {
  border-radius: 10px 10px 0 0;
  background: #28406b; /* Bleu foncé */
}

.menu-item:hover {
  width: 107%;
  /*   transform: Scale(1.05); */
}

.menu-item-title {
  display: flex;
  flex: 1;
  font-weight: 300;
}

.menu-item-number {
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #555;
  border-radius: 50%;
  font-size: 13px;
  font-weight: 600;
}

.menu-item-number:nth-child(1) {
  color: #28406b;
}

.menu-item-number:nth-child(2) {
  color: #2f4b7d;
}

.menu-item-number:nth-child(3) {
  color: #cd4b4b;
}

.menu-item-number:nth-child(4) {
  color: #c24448;
}

.menu-item-number:nth-child(5) {
  color: #c24448;
}

.menu-item-number:nth-child(6) {
  color: #c24448;
}

.menu-item-number:nth-child(7) {
  color: #c24448;
}

.menu-item-number:nth-child(8) {
  color: #c24448;
}

.menu-item-number:nth-child(9) {
  color: #c24448;
}

.min-h-card {
  min-height: 20rem;
}

#mobile-menu {
  display: none;
}



