<div class="w-16 h-screen bg-transparent fixed top-0 right-0 flex flex-col justify-center items-center">
    <a href="https://www.facebook.com/" target="_blank" class="mb-4 text-black hover:text-blue-600 transition">
        <i class="fab fa-facebook text-3xl"></i>
    </a>
    <a href="https://www.twitter.com/" target="_blank" class="mb-4 text-black hover:text-blue-400 transition">
        <i class="fab fa-twitter text-3xl"></i>
    </a>
    <a href="https://www.instagram.com/" target="_blank" class="mb-4 text-black hover:text-pink-600 transition">
        <i class="fab fa-instagram text-3xl"></i>
    </a>
</div>
