<section class="w-16 h-screen bg-transparent fixed top-0 right-0 flex flex-col justify-center items-center hidden sm:flex">
    <a href="https://twitter.com/rustyoff" target="_blank" class="mb-4 text-black hover:text-blue-400 transition" aria-label="Compte X" id="twitter-link">
        <i class="fa-brands fa-x-twitter text-3xl"></i>
    </a>
    <a href="https://www.instagram.com/rustyy_off/" target="_blank" class="mb-4 text-black hover:text-pink-600 transition" aria-label="Compte Instagram" id="instagram-link">
        <i class="fab fa-instagram text-3xl"></i>
    </a>
</section>
